@media (max-width: 1730px) {

    .section {
        padding: 0 50px;
    }

    .section__header {
        padding: 50px 113px;
    }

    .logo {
        margin-right: 50px;
    }

    .advantages {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .advantages__block {
        margin: 0;
    }

    .logos__container {
        column-gap: 30px;
    }



}


@media (max-width: 1620px) {
    .brand__block {
        width: 200px;
        height: 170px;
    }
}


@media (max-width: 1440px) {
    .nav_links a {
        font-size: 20px;
    }

    .section__title {
        font-size: 35px;
    }

    .section__postitle {
        font-size: 20px;
    }
    
    .reviews__title::after {
        left: 29%;
    }

    .advantages__bg {
        width: 100px;
        height: 100px;
    }

    .advantages__block img {
        width: 40px;
    }

    .advantages__block h5 {
        font-size: 20px;
    }

    .advantages__block p {
        font-size: 17px;
    }

    .swiper-container__01 {
        min-width: 500px;
        height: 400px;
    }

    .swiper__banner {
        width: 711px;
    }
}


@media (max-width: 1280px) {
    .section__header {
        padding: 45px;
    }

    .logos__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .brands__screen_btn {
        align-self: center;
    }

    .brand__block {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .section__header > .social_links {
        display: flex;
        flex-direction: column;
    }

    .section__header > .social_links > .social__link {
        margin-right: 0;
    }


}

@media (max-width: 1050px) {
    .nav_links {
        display: none;
    }

    .section__header {
        justify-content: flex-start;
    }

    .section__header > .social_links {
        display: none;
    }

    .section__header > .info {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .info {
        margin-right: 50px;
    }

    .categories__nav {
        flex-direction: column;
        align-items: center;
    }

    .categories__nav__block {
        margin-bottom: 110px;
    }

    .smart__watch__photo img {
        width: 300px;
    }

    .advantages {
        justify-content: space-around;
        margin-bottom: 40px;
}

    .advantages__block {
        margin-bottom: 40px;
        align-items: flex-start;
        text-align: left;
    }

    .banner__screen_text {
        margin: 0;
    }

    .container {
        flex-direction: column;
    }

    .swiper__text {
        margin-left: 0;
        margin-top: 30px;
    }

    .swiper-container__01 {
        width: 111%;
    }

    .review__banner {
        padding: 0 50px;
    }



    .footer__flexbox {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .footer__buttons {
        align-items: flex-start;
    }

    td, th {
        font-size: 12px;
    }

    .pg2__banner {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner__pg2__block {
        margin-bottom: 40px;
    }

    .page__two__banner {
        background-size: cover;
    }
}

@media (max-width: 1035px) {
    .section__header > .social_links {
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 1000px) {
    .table__title {
        text-align: center;
    }

    .table__item {
        width: 35%;
    }
}

@media (max-width: 830px) {
    .main__title {
        font-size: 50px;
    }

    .main__postitle {
        font-size: 22px;
    }

    .section__title {
        font-size: 28px;
    }
    
    .reviews__title::after {
        left: 23%;
    }

    .section__postitle {
        font-size: 17px;
    }

    .advantages {
        justify-content: space-between;
    }

    .advantages__block {
        text-align: center;
        align-items: center;
    }

    .btn__text {
        font-size: 17px;
    }

    .banner__btn {
        height: 56px;
    }

    .review__banner {
        flex-direction: column;
        padding: 50px;
    }

    .review__banner__block {
        padding: 40px 0;
    }

    .table__item {
        padding-left: 50px;
    }
}

@media (max-width: 700px) {
        .info a {
        font-size: 16px;
        line-height: 16px;
    }

    .section__title {
        line-height: 40px;
    }

    .section__postitle {
        font-size: 14px;
    }

    .advantages {
        justify-content: center;
    }

    .banner__screen_content {
        flex-direction: column;
        gap: 60px;
    }

    .info__screen__block {
        align-items: flex-start;
        flex-direction: column;
}
.info__screen_text {
     width: 100%;
}

}



@media (max-width: 650px) {

    .all__content {
        overflow-x: hidden;
    }

    .logo {
        margin: 0;
    }

    .info {
        display: none;
    }

    .section__header >.social_links {
        display: none!important;
    }

    .table__item {
        padding-left: 20px;
    }

    td, th {
        padding-top: 11px;
        padding-bottom: 11px;
    }


    .section {
      padding: 0 20px;
    }

    .section__header {
        padding: 45px;
    }

    .slider__content {
        background: #f5f4f4;
        border-radius: 30px;
        margin-bottom: 20px;
    }

    .finger__icon {

        width: 40px;
        height: 40px;
        border-radius: 15px;
    }

}

@media (max-width: 600px) {
    .map {
        height: auto;
        background: none;
    }

    .map > iframe {
        height: 50vh;
    }

    .article__image__box {
        width: 90vw;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }

    .article__image__box > img {
        border-radius: 20px;
    }


}

@media (max-width: 400px) {
    .swiper__banner {
        width: 100vw;
        position: absolute;
        left: calc(100vw - 70%);
    }

    .swiper-container__01,
    .slider__screen {
        margin: 0;
    }

    .swiper-container__01 >
    .swiper-pagination {
        display: none;
    }

    .swiper-container__01 {
         height: 300px;
    }


    .section__title, .advantages__title ,
    .banner__screen_text , .reviews__title, .review__banner h3 {
        font-size: 30px;
        text-align: left;
    }
    
    .reviews__title::after {
        left: 23%;
    }

    .main__title {
        font-size: 47px;

    }

    .privacy__info {
        font-size: 10px;
    }

    .footer__text {
        font-size: 18px;
    }

    .footer__buttons {
        align-items: center;

    }
}
