
.calendar {
    font-family: 'Lora', serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    height: auto;

}

.calendar__month {
    width: 83%;
    height: 40px;
    margin: 0 auto;
    text-align: center;

    font-family: 'Lora', serif;
    font-size: 22px;
    color: #fff;
}

.calendar__head, .calendar__container {
    background: none!important;
}

.calendar__container > td:last-of-type {
    background: none;
    padding: 0;
}





.calendar__day {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.calendar__td, .calendar__day {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.calendar__td {
    padding-right: 10px;
}



.calendar__item {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;

    font-family: 'Lora', serif;
    font-size: 24px;
    color: #232323;
    margin-bottom: 10px;
}

.calendar__item.is__active {
    background: #F7E842;
}

.calendar__item.is__full {
    background: #8E8E8E;
}

.calendar__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

