

.is-active {
    pointer-events: auto!important;
    opacity: 1!important;
}



.form__popup, .popup__success, .repairs__popup, .date__popup_01, .date__popup_02, .form__popup_02, .popup__success_02 {
    position: fixed;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
}


.no-scroll {
    overflow: hidden;
}


/**** Form Popup ****/


.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 100;
    top: 0;
    
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(35, 35, 35);
    padding-top: 94px;

    overflow: auto;
}




.popup__cross {
    position: absolute;
    display: flex;
    top: 35px;
    right: 35px;

    background-image: url(images/icons/Popup_close_icon.svg);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.popup__cross:hover {
    transform: scale(1.5);
    transition: transform .3s;
}


.popup__inner {
    text-align: center;
    overflow: auto;

}


.popup__title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 35px;
}


.popup__postitle {
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: 400;
}

.form__inner {
    margin-top: 100px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

.popup__input {
    height: 73px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 600px;
    border: 1px solid transparent;
    outline: none;
    font-size: 22px;
}

.popup__input:focus {
    border-color: #F7E842;
    box-sizing: border-box;
    font-family: 'Lora', serif;

    line-height: 33px;
    color: #232323;

}

.popup__input::placeholder {
    font-family: 'Lora', serif;
    font-size: 22px;
    line-height: 33px;
    color: #232323;
    padding-left: 43px;
}

.popup__checkbox {
    width: 23px;
    height: 23px;
    background: #FFFFFF;
    border-radius: 50%;
}

.popup__checkbox:checked {
    background: #000;
}

.checkbox__flexbox {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin: 30px 0 70px 0;
}

.privacy__text {
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
}

.privacy__text > a {
    text-decoration: underline;
    color: #8E8E8E;
}

.popup__button {
    background: #F7E842;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    color: #232323;
    padding: 20px 46px;
    border: none;
    color: #232323;
    transition: background .4s linear;
}


.popup__button:hover {
    background: #fff;
}


/**** Form Popup ****/





/**** Repairs Popup ****/


.popup__success_text {
    color: #F7E842;
}



.popup__info {
    display: flex;
    flex-direction: row;
    gap: 73px;
}

.popup__info_step {
    display: flex;
    align-items: center;
    gap: 31px;
}

.popup__info_step h6 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #8E8E8E;
}



.info__active > svg > path {
    fill: #fff!important;
}

.info__active h6 {
    color: #fff;
}

.popup__select {
    padding: 0 43px;
    background: #fff;
    font-family: 'Lora', serif;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;

}


option {
    background: #EDEDED;
    font-family: inherit;
    font-size: 20px;
}

select:last-of-type {
    margin-bottom: 70px;
}


/**** Repairs Popup ****/








/******** Date Popups ********/



/**** Carousel ****/




@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  /** position: relative; **/
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
    z-index: -1;
    width: 464px;
    height: 412px;
    margin: 100px auto;
    margin-bottom: 70px;

}

.carousel:focus, .carousel__viewport:focus {
    outline: none!important;
}

.carousel__viewport {
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
    height: 100%;

}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;

  counter-increment: item;
}

.carousel__slide:focus {
    border: none;
    outline: none;
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
  outline: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
    width: 40px;
    height: 40px;

  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 0;

}

.carousel::after,
.carousel__next {
  right: 0;

}

.carousel__prev {

}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url(images/icons/Popup__step__arrow_left.svg);
}

.carousel::after {
  background-image: url(images/icons/Popup__step__arrow.svg);
}




/**** Carousel ****/



/**** Calendar ****/




.calendar {
    font-family: 'Lora', serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    height: auto;

}

.calendar__month {
    width: 83%;
    height: 40px;
    margin: 0 auto;
    text-align: center;

    font-family: 'Lora', serif;
    font-size: 22px;
    color: #fff;
}

.calendar__head, .calendar__container {
    background: none!important;
}

.calendar__container > td:last-of-type {
    background: none;
    padding: 0;
}





.calendar__day {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.calendar__td, .calendar__day {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.calendar__td {
    padding-right: 10px;
}



.calendar__item {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;

    font-family: 'Lora', serif;
    font-size: 24px;
    color: #232323;
    margin-bottom: 10px;
    
    transition: background .8s;
}

.calendar__item.is__active {
    background: #F7E842;
}

.calendar__item.is__full {
    background: #8E8E8E;
    pointer-events: none;
}

.calendar__item:hover {
    background: #00000096;
    color: #fff;
}

.calendar__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/**** Calendar ****/




.popup__after__text {
    position: absolute;
    bottom: 750px;
    right: 163px;
}

.bottom__text {
    bottom: 700px;
    right: 132px;
}



.after__text__block {
    display: flex;
}

.circle {
    width: 23px;
    height: 23px;
    background: #8E8E8E;
    border-radius: 50%;
    margin-right: 20px;
}

.circle__yellow {
    background: #F7E842;
}

.after__text__block h5 {
    color: #fff;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: 400;
}

.data__table {
    margin: 100px 0 50px 0!important;
}

.date__item {
    width: 186px!important;
}

.table__after__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.table__text__flexbox h5 {
    color: #fff;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: 400;
}


.table__text__flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
}

.table__text__flexbox:last-of-type {
    margin: 0;
}

/******** Date Popups ********/








/**** Popup Adaptive ****/

@media (orientation: landscape) and (max-width: 1000px) {
    .popup {
        height: 100vh;
        padding: 20px;
    }
}

@media (max-width: 1272px) {
    .popup__info {
        gap: 20px;
    }

}


@media (max-width: 1240px) {
    .popup__after__text {
        position: static;
    }

    .bottom__text {
        margin-top: 12px;
    }

    .date__popup_01 > .popup__inner > .popup__button {
        margin-bottom: 30px;
    }
}

@media (max-width: 1215px) {
      .date__item {
        width: 174px!important;
    }
}

@media (max-width: 1100px) {
    .popup__info {
        flex-direction: column;
    }

    .popup__after__text {
        top: 862px;
        right: calc(39%);
    }

    .bottom__text {
        top: 905px;
        right: calc(36%);
    }

    .date__item {
        width: 90px!important;
        font-size: 17px!important;
    }

}

@media (max-width: 624px) {
    .popup__input {
        width: 355px;
    }

    .popup__cross {
        top: 10px;
        right: 10px;
    }

    .date__item {
        width: 55px!important;
        height: 45px;
        font-size: 13px!important;
    }

    .popup__title {
        font-size: 25px;
    }

    .popup__postitle {
        font-size: 17px;
    }

    .popup__info_step h6 {
        font-size: 20px;
        line-height: 25px;
    }

}


@media (max-width: 500px) {
    .popup {
        height: 100vh;
        padding: 30px 0;
    }

    .calendar__td {
        padding: 0;
    }

    .calendar__item {
        margin: 2px;
        width: 50px;
        height: 50px;
    }

    .carousel {
        width: auto;
    }

    .table__after__text {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .table__text__flexbox {
        margin-right: 0;
        margin-bottom: 20px;

    }

    .table__text__flexbox h5,
    .after__text__block h5 {
        font-size: 16px;
    }

    .privacy__text {
        font-size: 13px;
    }
}


@media (max-width: 420px) {
    .popup__info_step {
        padding-left: 30px;
    }


}


/**** Popup Adaptive ****/






