/* font-family: "RobotoSlabRegular"; 
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Panton; 
    src: url(../fonts/Panton-Bold.otf); 
}
@font-face {
    font-family: "PantonBold";
    src: url("../fonts/Pantonbold/panton-bold.eot");
    src: url("../fonts/Pantonbold/panton-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PantonBold/panton-bold.woff") format("woff"),
    url("../fonts/PantonBold/panton-bold.ttf") format("truetype");
}

@font-face {
    font-family: "PFAgoraSerifProBold";
    src: url("../fonts/PFAgoraSerifProBold/pfagoraserifpro-bold.eot");
    src: url("../fonts/PFAgoraSerifProBold/pfagoraserifpro-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFAgoraSerifProBold/pfagoraserifpro-bold.woff") format("woff"),
    url("../fonts/PFAgoraSerifProBold/pfagoraserifpro-bold.ttf") format("truetype");
}

@font-face {
    font-family: "KelsonSansRegular";
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot");
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.woff") format("woff"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KelsonSansLight";
    src: url("../fonts/KelsonSansLight/KelsonSansLight.eot");
    src: url("../fonts/KelsonSansLight/KelsonSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansLight/KelsonSansLight.woff") format("woff"),
    url("../fonts/KelsonSansLight/KelsonSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KelsonSansBold";
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot");
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansBold/KelsonSansBold.woff") format("woff"),
    url("../fonts/KelsonSansBold/KelsonSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/
@font-face {
    font-family: 'Intro';
    src: url("/fonts/intro.eot");
    src: url("/fonts/intro.eot?")format("embedded-opentype"),
    url("/fonts/intro.woff") format("woff"),
    url("/fonts/intro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 18, 2015 */

@font-face {
    font-family: 'PFDinBold';
    src: url('../fonts/Din/PFDinDisplayPro-Bold-webfont.eot');
    src: url('../fonts/Din/PFDinDisplayPro-Bold-webfont.eot%3F') format('embedded-opentype'),
         url('../fonts/Din/PFDinDisplayPro-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Din/PFDinDisplayPro-Bold-webfont.woff') format('woff'),
         url('../fonts/Din/PFDinDisplayPro-Bold-webfont.ttf') format('truetype');
    font-style: normal;

}




@font-face {
    font-family: 'PFDinLight';
    src: url('../fonts/Din/PFDinDisplayPro-Light-webfont.eot');
    src: url('../fonts/Din/PFDinDisplayPro-Light-webfont.eot%3F') format('embedded-opentype'),
         url('../fonts/Din/PFDinDisplayPro-Light-webfont.woff2') format('woff2'),
         url('../fonts/Din/PFDinDisplayPro-Light-webfont.woff') format('woff'),
         url('../fonts/Din/PFDinDisplayPro-Light-webfont.ttf') format('truetype');
    font-style: normal;

}




@font-face {
    font-family: 'PFDinMed';
    src: url('../fonts/Din/PFDinDisplayPro-Med-webfont.eot');
    src: url('../fonts/Din/PFDinDisplayPro-Med-webfont.eot%3F') format('embedded-opentype'),
         url('../fonts/Din/PFDinDisplayPro-Med-webfont.woff2') format('woff2'),
         url('../fonts/Din/PFDinDisplayPro-Med-webfont.woff') format('woff'),
         url('../fonts/Din/PFDinDisplayPro-Med-webfont.ttf') format('truetype');
    font-style: normal;

}




@font-face {
    font-family: 'PFDinRegular';
    src: url('../fonts/Din/PFDinDisplayPro-Reg-webfont.eot');
    src: url('../fonts/Din/PFDinDisplayPro-Reg-webfont.eot%3F') format('embedded-opentype'),
         url('../fonts/Din/PFDinDisplayPro-Reg-webfont.woff2') format('woff2'),
         url('../fonts/Din/PFDinDisplayPro-Reg-webfont.woff') format('woff'),
         url('../fonts/Din/PFDinDisplayPro-Reg-webfont.ttf') format('truetype');
    font-style: normal;

}
